name: Pipeline

on:
  push:

jobs:
  versioning:
    uses: ./.github/workflows/main.yml

  tag:
    name: Create Tag
    runs-on: ubuntu-latest
    needs: versioning
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Create Tag
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
        run: |
          git tag v${{ needs.versioning.outputs.Major }}
          git push origin v${{ needs.versioning.outputs.Major }} --force

      - name: Create Tag
        if: github.event_name != 'pull_request' && github.ref != 'refs/heads/main'
        run: |
          git tag v${{ needs.versioning.outputs.FullSemVer }}
          git push origin v${{ needs.versioning.outputs.FullSemVer }} --force
